In [1]:
import pandas as pd

In [3]:
cb = pd.read_csv('combats.csv')
dl = pd.read_csv('Replace.csv')

In [4]:
cb.head

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151